@page "/department"
@model App.Pages_Department.IndexModel

@{
    ViewData["Title"] = "Phòng ban";
}

<h1>Danh sách phòng ban</h1>

<p>
    <a asp-page="Create">Thêm phòng ban</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Department[0].Department_id)</th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Department_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Phone)
            </th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.Department_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department_name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Department_id">Sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Department_id">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.Department_id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
