@page "/admin/assign-user-role/{id}"
@model  App.Admin.User.AddRoleModel
@{
    ViewData["Title"] = "Thiết lập role cho user";
}

<h4>Thiết lập role cho thành viên : @Model.user.UserName  </h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleNames"></label>
                @Html.ListBoxFor(m =>m.RoleNames , Model.allRoles, new{
                    id = "id-select-roles",
                    @class="w-100"
                })
                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhập</button>
            <a asp-page="./Index">Danh sách thành viên</a>
        </form>
        <hr>
    <p>Các claim có được từ role</p>
    @if(Model.claimInRole.Count>0){
        <ul>

        @foreach(var claim in Model.claimInRole){
            <li>@claim.ClaimType : @claim.ClaimValue</li>
        }
        </ul>
    }
    <p>Các claim riêng : 
        <a asp-page="./EditUserRoleClaim" asp-route-id="@Model.user.Id" asp-page-handler="AddClaim">+Thêm claim riêng</a>
    </p>
    @if(Model.claimInUserClaim.Count>0){
        <ul>

        @foreach(var claim in Model.claimInUserClaim){
            <a asp-page="./EditUserRoleClaim" asp-route-claimid="@claim.Id" asp-page-handler="EditClaim">
            <li>@claim.ClaimType : @claim.ClaimValue</li>
            </a>
        }
        </ul>
    }
    </div>
    
</div>

@section Scripts {
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css"/>
    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: false,
            keepOpen : false,
            isOpen : false,
        })
    </script>
    <partial name="_ValidationScriptsPartial" />
}