@page
@model App.Pages_Salary.IndexModel

@{
    ViewData["Title"] = "Danh sách thông số lương  ";
}

<h1>Danh sách thông số lương </h1>

<p>
    <a asp-page="Create">Thêm </a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                Nhân viên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Salary_scale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Basic_salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Coe_salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Allowance_coe)
            </th>
           
            <th>
                Tác vụ
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salary) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary_scale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basic_salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coe_salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowance_coe)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SalaryId">Sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.SalaryId">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.SalaryId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
