@page
@model App.Pages_WorkCheck.DeleteModel

@{
    ViewData["Title"] = "Xóa bảng chấm công";
}

<h1>Xóa bảng chấm công </h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCheck.WorkDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkCheck.WorkDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCheck.WorkStatusId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkCheck.WorkStatus.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCheck.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkCheck.User.UserName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WorkCheck.WorkCheckId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại danh sách</a>
    </form>
</div>
