@page
@model App.Pages_WorkCheck.IndexModel

@{
    ViewData["Title"] = "Danh sách chấm công ";
}

<h1>Chấm công</h1>

<p>
    <a asp-page="Create">Thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkCheck[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCheck[0].WorkDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCheck[0].WorkStatusId)
            </th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkCheck) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStatus.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WorkCheckId">Sửa</a> |
                <a asp-page="./Delete" asp-route-id="@item.WorkCheckId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
