@page
@model entity_fr.Pages_Contract.DeleteModel

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa hợp đồng lao động</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.employee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.ContractFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.ContractTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractTo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Contract.ContractId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại danh sách</a>
    </form>
</div>
